.card{
    margin-left: 1rem;
    background-color: black;
    height: 250px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.image{
    background-color: green;
    height: 150px;
    width: 150px;
}