.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* grid-column-gap: 6px;
  grid-row-gap: 6px; */
}
.item {
  position: relative;
}
.item:hover {
  background: var(--white-gray);
}
.actions {
  border: 1px solid var(--border-deep);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 130px;
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 0.25rem;
  background: var(--white-gray);
}

.actions .iconBtn {
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
.actions .iconBtn:hover {
  background: var(--primary);
  color: var(--white);
  transition: all 0.25rem;
}